<section class="flex flex-row gap-2">
  <span class="text-primaryText flex flex-row gap-0">
    guest@guest:
    <span class="text-secondaryText">~</span>
    <span class="text-white">$</span>
  </span>
  <input 
    class="w-full focus:outline-none bg-background"
  />
</section>
