---
export const commandList = [
  {
    commandName: "help",
    description: "show the list of available commands",
  },
  {
    commandName: "ls",
    description: "show the list of files available on this directory",
  },
  {
    commandName: "cat [filename]",
    description: "print the content of the file",
  },
  {
    commandName: "clear",
    description: "clears the screen",
  },
  {
    commandName: "exit",
    description: "exit the terminal",
  },
];
---

<section
  class="flex flex-col gap-4 py-4 px-2 my-6 w-fit border border-gray-500"
>
  <article class="flex flex-col gap-2">
    <h1 class="text-xl">Available Commands:</h1>
    <span class="text-sm text-gray-400">All commands are case insentive</span>
  </article>
  <ul class="flex flex-col gap-1">
    {
      commandList.length && commandList.length > 0 ? (
        commandList.map((command) => (
          <li class="text-secondaryText">
            {command.commandName}
            <span class="text-white">
              => {command.description}
            </span>
          </li>
        ))
      ) : (
        <span>No commands available at the momment opps !!</span>
      )
    }
  </ul>
</section>
