<section class="py-4">
    <h1 class="text-5xl font-pixelifysans">Welcome to the terminal experience</h1>
    <span class="text-lg text-gray-400">Type 'help' to see the list of all available commands</span>
</section>