<section
  class="bg-background border-2 border-backgroundOutline text-white h-[250px] overflow-y-auto"
>
  <article class="flex flex-col gap-6 p-4">
    <section class="flex flex-col">
      <span class="text-textgreen"># Welcome Visitors</span>
      <span class="text-backgroundOutline">====================</span>
    </section>
    <section class="flex flex-col">
      <h1 class="text-base">About Me:</h1>
      <ol class="list-decimal list-inside">
        <li>I am Gaurav Kumar Karki</li>
        <li>
          <span
            >Software Engineer <i>Specilization in Fullstack web development</i
            ></span
          >
        </li>
      </ol>
    </section>
    <section class="flex flex-col gap-2">
      <span>Follow me on:</span>
    </section>
  </article>
</section>
