<section
  class="bg-background border-2 border-backgroundOutline text-white min-h-[350px]"
>
  <article class="flex flex-col gap-6 p-4">
    <section class="flex flex-col gap-2">
      <span># Welcome Visitors</span>
      <span>====================</span>
    </section>
    <section class="flex flex-col gap-2">
      <h1 class="text-base">About Me:</h1>
      <span>I am Gaurav Kumar Karki</span>
      <span
        >Software Engineer <i>Specilization in Fullstack web development</i
        ></span
      >
    </section>
    <section class="flex flex-col gap-2">
      <span>Follow me on:</span>
    </section>
  </article>
</section>
