<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome - Personal Website</title>
        <meta name="description" content="Welcome to my personal website where I share my journey and showcase my portfolio."/>
	</head>
	<body>
		<slot/>
	</body>
</html>
